@font-face {
  font-family: "TF2 Build";
  src: url("/fonts/TF2Build.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "TF2 Secondary";
  src: url("/fonts/TF2Secondary.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "TF2";
  src: url("/fonts/TF2.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "TF2 Professor";
  src: url("/fonts/TF2Professor.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
