@import "tailwindcss";
@import "./fonts.css";

h1, h2, h3, h4, h5, h6 {
    font-family: "TF2 Build", sans-serif;
}

body {
    overflow: hidden;
    user-select: none;
}

.tf2-light {
    font-family: "TF2 Secondary", sans-serif;
}

.tf2-medium {
    font-family: "TF2", sans-serif;
}

.tf2-bold {
    font-family: "TF2 Build", sans-serif;
}

.tf2-chalk {
    font-family: "TF2 Professor", sans-serif;
}
