---
import "@/styles/global.css";

const { id } = Astro.props;
---

<button-player>
  <div class="flex items-stretch justify-center gap-4 p-4 flex-row" id={id}>
    <slot />
  </div>
</button-player>

<script>
  import { playSound } from "@/util/playSound";
  
  class ButtonPlayer extends HTMLElement {
    connectedCallback() {
      const cardElements = this.querySelectorAll(".paper-card");
      cardElements.forEach((card) => {
        card.addEventListener("mouseenter", () => {
          playSound("ui/buttonrollover.wav");
        });

        card.addEventListener("click", () => {
          playSound("ui/buttonclickrelease.wav");
        });

        card.addEventListener("pointerdown", () => {
          playSound("ui/buttonclick.wav");
        });
      });
    }
  }

  customElements.define('button-player', ButtonPlayer);
</script>
