---
import "@/styles/global.css";

const { id } = Astro.props;
---

<!-- align height of all cards -->
<div class="flex items-stretch justify-center gap-4 p-4 flex-row">
  <slot />
</div>

<script define:vars={{ id }}>
  import { playSound } from "@/util/playSound";

  const cards = document.getElementById(id);
  const cardElements = cards.querySelectorAll(".paper-card");
  cardElements.forEach((card) => {
    card.addEventListener("mouseenter", () => {
      playSound("ui/buttonrollover.wav");
    });

    card.addEventListener("click", () => {
      playSound("ui/buttonclickrelease.wav");
    });

    card.addEventListener("pointerdown", () => {
      playSound("ui/buttonclick.wav");
    });
  });
</script>
