.SettingsView-background {
    background: #292526;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.SettingsView-main-title {
    color: #c94f39;
}
.SettingsView-category-view {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.SettingsView-category-sidebar {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #b4b4b4 #292526;
}
.SettingsView-group-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}
.SettingsView-group {
    padding-top: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    scrollbar-color: #b4b4b4 #292526;
    flex: 1;
}
.Settingsview-group-sidebar {
    width: 33%;
}
